TELEGRAM_BOT_TOKEN=7172072404:AAG4Kw6GfyXJnm_jG0Fvo8j61jGb6JNgJqs
TELEGRAM_WEBHOOK_SECRET=long-random-string
APP_BASE_URL=https://your-vercel-domain
PUBLIC_BOT_USERNAME=@cmpro_bot

DATABASE_URL=postgresql+psycopg://postgres:saga@host:5432/cmpro_bot?sslmode=require

ADMIN_ACCESS_TOKEN=supersecureadmin
RATE_LIMIT_PER_MINUTE=20

DEFAULT_LANG=ru
TZ=Asia/Almaty
